header {
  @media screen and (min-width: 1200px) {
    position: relative;
    z-index: 1000;
  }
}

.header-hero {
  background-color: var(--ice-cream-color);

  @media screen and (max-width: 767px) {
    height: 100vh;
    max-height: 502px;
  }
}

.header {
  position: relative;
  overflow: hidden;

  height: 100vh;
  @media screen and (min-width: 768px) {
    height: 399px;
  }

  @media screen and (min-width: 1200px) {
    height: 665px;
  }
}

.topline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;

  @media screen and (max-width: 767px) {
    padding-top: 6px;
  }

  @media screen and (min-width: 768px) {
    // align-items: baseline;
    // justify-content: end;
    // text-align: center;
    padding-top: 36px;
  }

  @media screen and (min-width: 1200px) {
    // position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.logo-header {
  @media screen and (min-width: 768px) {
    // padding-top: 38px;
  }
}

.logo {
  @media screen and (min-width: 1200px) {
    position: absolute;
    left: -70px;
    top: 37px;
  }
}

.btn-buy {
  display: flex;
  // margin-top: 40px;
  padding: 12px 36px;
  text-align: start;
  align-items: center;
  border: none;
  border-radius: 22px;
  color: var(--title-text-color);

  @include font(16px, bold, 21px);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
  }

  &:hover,
  :focus {
    background-color: var(--button-hover-secondary);
  }
}

.icon-buy {
  // width: 15px;
  // height: 12px;
  margin-left: 12px;
  fill: var(--title-text-color);
}

.menu_button {
  margin: 0;
  padding: auto;
  border: none;
  // width: 40px;
  height: 30px;
  padding: auto;
  border: none;
  background-color: transparent;

  background-position: center;

  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 999;
    left: 524px;
    top: 48px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.nav_list {
  display: flex;
  margin-top: 16px;
  margin-left: 110px;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  // @media screen and (min-width: 1200px) {
  //   position: relative;
  // }

  & .nav_link.current {
    color: var(--title-text-color);
  }

  & .nav_item {
    @include font(16px, 700, 21px);
    color: var(--secondary-text-color);

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

// hero

.hero {
  justify-content: space-between;
}

// .headline-bottom {
//   @media screen and (min-width: 768px) {
//   }
// }

// .headline-bottom-secondary {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }

.box-left {
  position: absolute;

  left: 20px;
  top: 193px;

  z-index: 998;

  @media screen and (min-width: 768px) {
    position: relative;

    left: 0px;
    top: 176px;
  }

  @media screen and (min-width: 1200px) {
    position: relative;

    left: 0px;
    top: 176px;
  }
}

.headline {
  position: absolute;
  left: 0px;
  bottom: -118px;

  @media screen and (min-width: 1200px) {
    left: 0px;
    bottom: -323px;
  }
}

.headline-bottom {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    left: -38px;
    bottom: -44px;
  }

  // .headline-bottom-secondary {
  //   margin-right: 100px;
  // }

  & .img-milk {
    @media screen and (max-width: 1199px) {
      margin-top: 18px;
    }

    @media screen and (min-width: 1200px) {
      // position: relative;
      // left: -36px;
      // top: 44px;
      margin-top: 56px;
    }
  }

  & .headline-bottom-title {
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
      @include font(8px, 400, 12px);
      width: 114px;
      height: 48px;
      margin-top: 67px;
    }

    @media screen and (min-width: 1200px) {
      @include font(14px, 400, 20px);
      width: 200px;
      height: 78px;
      margin-top: 112px;
      // margin-left: 30px;
    }
  }
}

.run-to {
  margin: 0;
  padding: auto;
  border: none;
  width: 18px;
  height: 18px;
  padding: auto;
  border: none;
  border-radius: 50%;

  background-position: center;

  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    // margin-left: 30px;
    width: 26px;
    height: 26px;
  }
}

.icon-hero {
  fill: var(--title-text-color);
}

.box-right {
  position: absolute;
  margin-top: 74px;
  right: 34px;
  bottom: 0px;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    right: 115px;
    bottom: 0px;
  }
}
.points-list {
  position: relative;
  top: 0px;
  left: 0px;
}

.points-item-qty {
  // position: absolute;
  // z-index: 555;

  margin-top: 12px;
  text-align: end;

  font-family: var(--primary-font);
  @include font(28px, 400, 32px);
  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    @include font(46px, 400, 53px);
  }

  &::before {
    position: relative;
    right: -160px;
    bottom: -16px;
    z-index: 1;

    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;

    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;

      right: -278px;
      bottom: -25px;
    }
  }
}

.points-item {
  text-align: right;
  font-family: var(--secondary-font);
  @include font(8px, 400, 10px);
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    @include font(14px, 400, 18px);
  }
}

.box-center {
  //   position: relative;

  & .hero-icecream {
    position: absolute;

    left: 117px;
    top: 92px;
    z-index: 997;

    @media screen and (min-width: 768px) {
      left: 386px;
      top: 62px;
    }

    @media screen and (min-width: 1200px) {
      left: 555px;
      top: 108px;
    }
  }
  &::before {
    position: absolute;

    content: '';
    display: block;
    width: 346px;
    height: 344px;
    left: 36px;
    top: 83px;
    border-radius: 50%;
    background-color: var(--product-text-color);

    @media screen and (min-width: 768px) {
      left: 299px;
      top: 31px;
      width: 324px;
      height: 322px;
    }

    @media screen and (min-width: 1200px) {
      left: 426px;
      top: 52px;

      width: 538px;
      height: 538px;
    }
  }
}

.headline-title {
  text-transform: uppercase;
  font-family: var(--primary-font);
  @include font(26px, 400, 30px);
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
    @include font(22px, 400, 25px);
  }
  @media screen and (min-width: 1200px) {
    @include font(38px, 400, 44px);
  }

  & .headline-title-secondary {
    @include font(48px, 400, 46px);
    color: var(--title-text-color);

    @media screen and (min-width: 768px) {
      @include font(34px, 400, 31px);
    }

    @media screen and (min-width: 1200px) {
      @include font(58px, 400, 53px);
    }
  }
}

.headline-buttons {
  display: flex;

  & .button-items-first {
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 8px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: var(--title-text-color);

    &:hover,
    :focus {
      background-color: var(--button-hover-primary);
    }
  }

  & .button-items-second {
    padding: 10px 20px;
    margin-top: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    cursor: pointer;

    color: var(--title-text-color);

    background-color: var(--primary-background-color);

    &:hover,
    :focus {
      background-color: var(--button-hover-secondary);
    }
  }

  & .buttons-link {
    @include font(8px, 400, 10.42px);

    @media screen and (min-width: 1200px) {
      @include font(14px, 400, 18px);
    }
  }
}

.mobile-menu {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 254px;
  height: 100vh;
  padding: 60px 22px;

  transform: translateX(100%);

  top: 0;
  right: 0;
  background-color: var(--mobile-menu-bg);

  transition: var(--time-animation);

  @media screen and (min-width: 768px) {
    padding: 60px 34px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0%);
  }
}

.mobile-btn-buy {
  display: flex;

  width: 209px;
  height: 44px;

  padding: 12px 36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 22px;
  color: var(--title-text-color);

  @include font(16px, bold, 21px);

  @media screen and (min-width: 768px) {
    width: 186px;
    height: 44px;
  }

  &:hover,
  :focus {
    background-color: var(--button-hover-secondary);
  }
}

.btn_close {
  position: absolute;
  right: 24px;
  top: 14px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-position: center;
}

.icon-close {
  fill: var(--primary-background-color);
}

.mobile-nav_list {
  margin-top: 20px;

  & .mobile-nav_link.current {
    color: var(--title-text-color);
  }
}

// .mobile-nav_item {
// }

.mobile-nav_link {
  padding: 12px 0px;
  @include font(14px, 700, 18px);
  color: var(--primary-background-color);
}
