/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  font-style: normal;
  display: block;
}
.list,
a {
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}
@font-face {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  src: url(/titan-one-v8-latin-regular.e9a84f3e.eot);
  src: local(''),
    url(/titan-one-v8-latin-regular.e9a84f3e.eot?#iefix)
      format('embedded-opentype'),
    url(/titan-one-v8-latin-regular.99caac35.woff2) format('woff2'),
    url(/titan-one-v8-latin-regular.7854b78b.woff) format('woff'),
    url(/titan-one-v8-latin-regular.ecc66ff8.ttf) format('truetype'),
    url(/titan-one-v8-latin-regular.9699d016.svg#TitanOne) format('svg');
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  src: url(/dm-sans-v6-latin-regular.9b78b318.eot);
  src: local(''),
    url(/dm-sans-v6-latin-regular.9b78b318.eot?#iefix)
      format('embedded-opentype'),
    url(/dm-sans-v6-latin-regular.c37abbbf.woff2) format('woff2'),
    url(/dm-sans-v6-latin-regular.73abdc5b.woff) format('woff'),
    url(/dm-sans-v6-latin-regular.553c7952.ttf) format('truetype'),
    url(/dm-sans-v6-latin-regular.0b7e94d4.svg#DMSans) format('svg');
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  src: url(/dm-sans-v6-latin-500.e568251f.eot);
  src: local(''),
    url(/dm-sans-v6-latin-500.e568251f.eot?#iefix) format('embedded-opentype'),
    url(/dm-sans-v6-latin-500.e8ac366e.woff2) format('woff2'),
    url(/dm-sans-v6-latin-500.ef020ea4.woff) format('woff'),
    url(/dm-sans-v6-latin-500.549e9897.ttf) format('truetype'),
    url(/dm-sans-v6-latin-500.0da6aacc.svg#DMSans) format('svg');
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/dm-sans-v6-latin-700.e6a58b9e.eot);
  src: local(''),
    url(/dm-sans-v6-latin-700.e6a58b9e.eot?#iefix) format('embedded-opentype'),
    url(/dm-sans-v6-latin-700.e2ac3341.woff2) format('woff2'),
    url(/dm-sans-v6-latin-700.e17ff466.woff) format('woff'),
    url(/dm-sans-v6-latin-700.876fe030.ttf) format('truetype'),
    url(/dm-sans-v6-latin-700.d311de63.svg#DMSans) format('svg');
}
:root {
  --primary-font: Titan One;
  --secondary-font: DM Sans;
  --reserve-font: sans-serif;
  --ice-cream-color: #ffb8ca;
  --ice-coffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --primary-background-color: #fff;
  --secondary-background-color: #fff5f6;
  --title-text-color: #d41443;
  --secondary-text-color: #fff;
  --product-text-color: #ffa5ba;
  --dark-text-color: #000;
  --gray-text-color: #907e82;
  --button-hover-primary: #c7133e;
  --button-hover-secondary: #ecebeb;
}
body {
  font-family: var(--secondary-font), var(--reserve-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04;
  color: var(--gray-text-color);
  background-color: var(--primary-background-color);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}
.header-hero {
  background-color: var(--ice-cream-color);
}
@media screen and (max-width: 480px) {
  .header-hero {
    height: 100vh;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    position: absolute;
    left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: baseline;
    justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    position: absolute;
    left: 46px;
    top: 37px;
  }
}
.btn-buy {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .btn-buy {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu_button {
    display: none;
  }
}
.nav_list {
  display: flex;
  margin-top: 52px;
}
@media screen and (max-width: 1199px) {
  .nav_list {
    display: none;
  }
}
.nav_list .nav_item {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.313;
  color: var(--secondary-text-color);
}
.nav_list .nav_item:not(:last-child) {
  margin-right: 35px;
}
.hero {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .headline-bottom {
    display: none;
  }
}
.box-left {
  position: absolute;
  left: 20px;
  top: 193px;
  z-index: 998;
}
@media screen and (min-width: 768px) {
  .box-left {
    position: relative;
  }
}
.box-right {
  margin-top: 74px;
}
@media screen and (max-width: 767px) {
  .box-right {
    display: none;
  }
}
.points-item-qty {
  font-family: var(--primary-font);
  font-size: 46px;
  font-weight: 400;
  line-height: 1.152;
  color: var(--title-text-color);
}
.box-center .hero-icecream {
  position: absolute;
  left: 117px;
  top: 92px;
  z-index: 997;
}
@media screen and (min-width: 1200px) {
  .box-center .hero-icecream {
    left: 594px;
    top: 108px;
  }
}
.box-center:before {
  position: absolute;
  content: '';
  display: block;
  width: 346px;
  height: 344px;
  left: 36px;
  top: 83px;
  border-radius: 50%;
  background-color: var(--product-text-color);
}
@media screen and (min-width: 768px) {
  .box-center:before {
    left: 307px;
    top: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .box-center:before {
    left: 475px;
    top: 52px;
  }
}
.headline-title {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.154;
  color: var(--secondary-text-color);
}
.headline-title .headline-title-secondary {
  font-size: 48px;
  font-weight: 400;
  line-height: 0.958;
  color: var(--title-text-color);
}
.headline-buttons {
  display: flex;
}
.headline-buttons .button-items-first {
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--title-text-color);
}
.headline-buttons .button-items-first :focus,
.headline-buttons .button-items-first:hover {
  background-color: var(--button-hover-primary);
}
.headline-buttons .button-items-second {
  padding: 10px 20px;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
}
.headline-buttons .button-items-second :focus,
.headline-buttons .button-items-second:hover {
  background-color: var(--button-hover-secondary);
}
.headline-buttons .buttons-link {
  font-size: 8px;
  font-weight: 400;
  line-height: 1.303;
}
.products {
  background-color: var(--primary-background-color);
}
.products-list {
  display: flex;
  flex-direction: column;
}
.products-item {
  width: 100%;
  padding: 0 42px;
  border-radius: 24px;
}
.products-item + .products-item {
  margin-top: 130px;
}
.ice-cream {
  background-color: var(--ice-cream-color);
}
.ice-coffee {
  background-color: var(--ice-coffee-color);
}
.milkshakes {
  background-color: var(--milkshakes-color);
}
.products-title {
  text-align: center;
  font-family: var(--primary-font);
}
.natural {
  font-size: 18px;
  line-height: 1.167;
  color: var(--product-text-color);
  margin-bottom: 15px;
}
.name,
.natural {
  font-weight: 700;
  letter-spacing: 0.04;
}
.name {
  font-size: 34px;
  line-height: 1.147;
  color: var(--title-text-color);
  margin-bottom: 144px;
}
.products-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 30px;
  margin-top: 144px;
}
.product-text,
.products-name {
  letter-spacing: 0.04;
  color: var(--secondary-text-color);
}
.product-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.571;
  text-align: center;
  padding: 30px 0;
}
.products-cards {
  width: 100%;
  position: relative;
}
.products-image {
  position: absolute;
  width: 249px;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
  .products {
    padding: 120px 0 98px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
  .products-list {
    flex-direction: row;
  }
  .products-item + .products-item {
    margin-top: 0;
    margin-left: 20px;
  }
}
.example {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}
.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: teal;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}
/*# sourceMappingURL=/src.9dca76a1.css.map */
