
<section class="contacts">

   <div class="container">
      <div class="contacts-container">
         <ul class="contacts-list">
            <li class="contacts-cards">                 
               <p class="title-cards cafe">CAFE</p>
               <h3 class="contacts-city">Chicago</h3>
               <p class="products-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               <p class="products-opening-day">Monday - Friday <br><span class="products-opening-hours">06:00 AM - 10:00 PM</span></p>
               <p class="products-opening-day">Saturday - Sunday<br><span class="products-opening-hours">08:00 AM - 16:00 PM</span></p>
               <a class="contacts-adress" href="tel:+610383766284">+61(0) 383 766 284</a>
               <p><a class="contacts-adress" href="mailto:noreply@envato.com" class="cards-contact">noreply@envato.com</a></p>                    
            </li>
            <li class="contacts-cards">                       
               <p class="title-cards food-truck">FOOD TRUCK</p>
               <h3 class="contacts-city">Los Angeles</h3>
               <p class="products-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               <p class="products-opening-day">Monday - Friday <br> <span class="products-opening-hours">06:00 AM - 10:00 PM</span></p>
               <p class="products-opening-day">Saturday - Sunday<br><span class="products-opening-hours">08:00 AM - 16:00 PM</span></p>
               <a class="contacts-adress" href="tel:+610383766284">+61(0) 383 766 284</a>
               <a class="contacts-adress" href="mailto:noreply@envato.com">noreply@envato.com</a>                       
           </li>
           <li class="contacts-cards">                      
               <p class="title-cards cafe">CAFE</p>
               <h3 class="contacts-city">New York</h3>
               <p class="products-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               <p class="products-opening-day">Monday - Friday <br> <span class="products-opening-hours">06:00 AM - 10:00 PM</span></p>
               <p class="products-opening-day">Saturday - Sunday<br><span class="products-opening-hours">08:00 AM - 16:00 PM</span></p>
               <a class="contacts-adress" href="tel:+610383766284">+61(0) 383 766 284</a>
               <a class="contacts-adress" href="mailto:noreply@envato.com">noreply@envato.com</a>               
           </li>

         </ul>
      </div>
      <div class="contacts-buttons">
              <a href="#" class="locations">
                 Our Locations 
                 <img class="icon-vector" src="./images/icon-png/vector-wite.png" alt="vector">
               </a>

              <a href="#" class="franchise">
                 Franchise 
                 <img class="icon-vector" src="./images/icon-png/vector-red.png" alt="vector">
               </a>
       </div>

   </div>
</section>